.cards {
    max-width: 920px;
    margin: auto;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    justify-items: center;
}